.App {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.title {
  color: #fff;
  padding: 0;
  margin: 0;
}

.input-text {
  width: 500px;
  height: 30px;
  border-radius: 5px;
}

.btn-add {
  background-color: green;
  transition: filter 0.2;
}

.btn-add:hover {
  filter: brightness(1.2);
}
